/* 引入字体文件 */
@font-face {
  font-family: 'zql';
  src: url('@/assets/fonts/zql.woff2') format('woff2')
}

:root {
  /* 基础颜色 */
  --bg-color: #F3F0FE;
  --text-color: #000000;
  --text-color2: #ffffff;
  --primary-color: #672DEA;
  --primary-color-hover: #581FD2;
  --primary-color-active: #4A1BB0;

  /* 色阶 */
  --color-1: #1A0740;
  /* 最深，用于标题、文本强调 */
  --color-2: #310A72;
  /* 深色背景、边框 */
  --color-3: #4A1BBC;
  /* 主要按钮、链接 */
  --color-4: #5E21E0;
  /* 较亮的按钮、悬浮效果 */
  --color-5: #713af4;
  /* 次级按钮、图标 */
  --color-6: #9c87fe;
  /* 较亮文本、次级背景 */
  --color-7: #d3cfff;
  /* 最亮，用于背景高亮、阴影 */
}

body {
  transition: background-color 0.3s, color 0.3s;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'zql';
  transition: all 0.3s;
  box-sizing: border-box;
}